/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
menu,
dd {
  margin: 0;
  font-size: 18px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #16688c;
}

#svelte {
    background: #16688c;
    min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body {
    font-family: 'Libre Baskerville', serif;
    color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    position: relative;
}

a {
    color: #B40808;
    text-decoration: none;
}

.html {
    margin-bottom: 40px;
}

.html p {
    margin-bottom: 20px;
}

.contact-page #map img {
    height: 400px;
    width: 100%;
  }

.workArticle .subtitle {
    margin-bottom: 20px;
    font-size: 22px;
}

.markdown {
    margin-bottom: 60px;
}

.markdown p {
    margin-bottom: 20px;
}

.H2 {
  font-size: 24px;
  line-height: 30px;
  color: #16688c;
  text-align: center;
  padding: 20px 0 40px;
}

.H3 {
  font-size: 18px;
  line-height: 22px;
  color: #16688c;
  padding: 20px 0;
}

.hidden {
  position: absolute;
  left: -100vw;
}

.contact-page li.contact {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.contact-page .image {
  margin-right: 20px;
}

.contact-page .contact-container {
  margin-bottom: 40px;
}

.contact-page img {
  width: 24px;
}

.contact-page header img {
  width: auto;
}

.blog-page .blog-list-item {
  margin-bottom: 40px;
}
.blog-page .blog-list-item p {
  color: #b40808;
}

@media (min-width: 768px) {
  .contact-page .contact-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
  }

  .blog-page .blog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .blog-page .blog-list-item {
    width: 30%;
    padding: 20px;
  }
}

.cta {
  width: 100vw;
  height: 100vh;
  background: url("/assets/cta.jpg") no-repeat center center fixed; 
  background-size: cover;
  color: white;
  position: relative;
  padding-top: 100px;
}

.cta svg {
  width: 200px;
  display: block;
  top: 60px;
  position: absolute;
  left: 40px;
  filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4));
}
.cta p {
  text-shadow: 2px 2px rgb(0 0 0 / 0.8);
  font-size: 30px;
}

.cta .deck {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 60vw;
}

.cta .deck .title {
  font-size: 40px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .cta {
      height: auto;
      background: #ffffef;
      text-shadow: none;
      color: #000000;
      padding: 0;
      margin-top: 90px;
  }

  .cta svg {
      display: none;
  }

  .cta .deck {
      position: static;
      padding: 40px 0 0 40px;
      text-align: left;
  }

  .cta .deck {
      width: 80vw;
  }

  .cta .deck .title {
      font-size: 30px;
      line-height: 40px;
  }

  .cta p {
      font-size: 20px;
      text-shadow: none;
  }
}

.work-primary-images {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

@media (min-width: 768px) {
  .work-primary-images {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.list-h1 {
  font-size: 24px;
  line-height: 30px;
  color: #16688c;
  text-align: center;
  margin: 20px 0 40px;
}

.A {
  color: var(--color);
  text-decoration: none;
  display: var(--display);
  padding: var(--padding);
  position: relative;
}

@media (min-width: 768px) {
  .A {
    padding: 0;
  }
  .A::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s;
  }

  .A:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
}

.button-as-link {
  color: rgba(0, 0, 0, 0.8);
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: var(--width);
  cursor: pointer;
}

.centered-link {
  text-align: center;
  margin-bottom: 20px;
}

.centered-link a {
  margin: 20px 0;
  position: relative;
}

.centered-link a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.2s;
}

.centered-link a:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.container-component {
  width: 80vw;
  margin: 0 auto;
  padding-top: 90px;
}

.container-component.isHome {
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container-component {
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .container-component {
    width: 1024px;
  }
}

.content-list {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

.content-list-item {
  margin-bottom: 20px;
}

.footer-a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.footer-a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.2s;
}

.footer-a:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.footer-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 72px;
}
.footer-image img {
  margin: 0 auto;
      width: 72px;
}
@media (min-width: 768px) {
  .footer-image img {
    height: auto;
  }
}

.footer-logo-container {
  width: 270px;
  margin: 40px auto 20px;
}
@media (min-width: 900px) {
  .footer-logo-container {
    width: auto;
    margin: inherit;
    height: 100%;
    width: 72px;
  }
}

.H1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
}

.header-paragraph {
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .intro-image {
    float: left;
    width: calc(50% - 20px);
  }
}

@media (min-width: 768px) {
  .intro-text {
    width: calc(100% - 500px);
    float: left;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 346px;
  }
}

.menu-button-component {
  background: none;
  border: 0;
  position: fixed;
  right: 10vw;
  height: 72px;
  width: 72px;
  line-height: 72px;
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  z-index: 3;
  top: 0;
  margin-right: -24px;
  transition: transform 0.2s ease-in-out;
      color: #16688c;
}

.menu-button-component.menuOpen {
  transform: rotate(45deg);
      text-shadow: none;
}

  .menu-button-component.isHome {
      transition: transform 0.2s ease-in-out, color 0.2s ease-in-out text-shadow 0.2s ease-in-out;
  }

  .menu-button-component.isHome.menuOpen {
      position: fixed;
  }

@media (min-width: 768px) {
  .menu-button-component {
    display: none;
  }
}

.more-work {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 40px 0;
  padding: 40px 0;
  color: rgba(0, 0, 0, 0.8);
}

.more-work a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.more-work .more-work-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more-work .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.P {
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.quote {
  font-style: italic;
  line-height: 28px;
  margin: 0 auto 10px;
  text-align: center;
}

@media (min-width: 1200px) {
  .quote {
    width: auto;
  }
}

.quote-container {
  border-top: 2px solid rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .quote-container {
    width: 50%;
    margin: 0 auto 60px;
  }
}

.quoter {
  line-height: 28px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1200px) {
  .quoter {
    width: auto;
  }
}

.screenTransition {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color: #16688c;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  top: 0;
}

.span-as-link {
  color: #b40808;
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: var(--width);
}

.span-as-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.2s;
}

.span-as-link:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.white-background {
  background: #ffffee;
  padding-bottom: 1px;
}

@media (min-width: 768px) {
  .workArticle {
    margin-top: 40px;
  }
}

.brand-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
  margin-bottom: 30px;
}

  .brand-list > li > div {
      height: 100%;
  }

  .footer-molecule {
		background: #16688c;
		color: white;
	}

	.footer-molecule ul {
		list-style: none;
	}

	.footer-molecule .footer-container {
		width: 80vw;
		margin: 0 auto;
		padding: 30px 0;
	}

	@media (min-width: 900px) {
		.footer-molecule .footer-container {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
		}

        .footer-molecule .footer-container ul {
            margin-right: 20px;
        }
	}

	@media (min-width: 1200px) {
		.footer-molecule .footer-container {
			width: 1024px;
			margin: 0 auto;
		}
	}

  .header-container-molecule {
		position: relative;
    top: 0;
		background: #ffffee;
        z-index: 2;
	}
	
  .header-container-molecule header {
		position: fixed;
		background: #ffffee;
		left: 0;
		width: 100vw;
		z-index: 2;
	}
  
  .header-container-molecule header.isHome {
        position: fixed;
        top: 0;
    }

	.header-container-molecule header div {
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 104px;
	}

	@media (min-width: 768px) {
		.header-container-molecule {
			margin: 0 auto;
			width: 80vw;
		}
		.header-container-molecule header {
			width: auto;
			display: flex;
			align-items: center;
            position: static;
		}

    .header-container-molecule header.isHome {
        position: static;
    }

		.header-container-molecule header div {
			margin: 0;
			float: left;
		}
	}

	@media (min-width: 1200px) {
		.header-container-molecule {
			width: 1024px;
		}
	}

  .intro-molecule {
		margin-bottom: 40px;
	}

	@media (min-width: 768px) {
		.intro-molecule h1 {
			font-size: 36px;
			line-height: 50px;
			margin-bottom: 15px;
		}

		.intro-molecule p {
			font-size: 18px;
			line-height: 30px;
		}
		
		.intro-molecule {
			display: flex;
		}

		.intro-molecule::after {
			clear: both;
			content: ' ';
			display: block;
		}
	}

  .list-item-molecule .data-item-link {
		color: #b40808;
		text-decoration: none;
		display: inline-block;
		padding: 0;
		position: relative;
		margin-bottom: 40px;
	}

	.list-item-molecule h3 {
		font-size: 18px;
		line-height: 22px;
		color: #16688c;
		padding: 0 0 20px;
	}

	.list-item-molecule p {
		color: rgba(0, 0, 0, 0.9);
        margin-bottom: 20px;
	}

	@media (min-width: 1000px) {
		.list-item-molecule .data-item-link {
			padding: 0;
			display: flex;
			justify-content: space-between;
			flex-direction: var(--flexDirection);
			align-content: stretch;
			align-items: stretch;
		}

		.list-item-molecule .data-item-text {
			flex-grow: 1;
			width: calc(100% - 500px);
			display: flex;
			flex-direction: column;
			height: 343px;
			justify-content: center;
		}

		.list-item-molecule .row .data-item-text {
			margin-right: 40px;
		}

		.list-item-molecule .row-reverse .data-item-text {
			margin-left: 40px;
		}
	}

  .menu-molecule {
		position: fixed;
		z-index: 1;
		left: 100vw;
		width: 100vw;
		top: 0px;
		height: 100vh;
		transition: left 0.3s ease-in-out;
		background: #ffffee;
		overflow-y: auto;
        padding-top: 40px;
	}

	.menu-molecule.menuOpen {
		left: 0;
	}

	.menu-molecule ul {
		border-top: 1px dashed black;
		width: 50vw;
	}

	.menu-molecule li {
		display: block;
		border-bottom: 1px dashed black;
        padding: 10px 0;
	}

	@media (min-width: 768px) {
		.menu-molecule {
			position: static;
			top: initial;
			left: initial;
			width: calc(80vw - 104px);
			height: initial;
			float: left;
			padding-left: 50px;
			padding-top: 0;
			overflow: hidden;
		}

		.menu-molecule ul {
			border-top: 0;
			width: auto;
			display: flex;
			justify-content: space-between;
		}

		.menu-molecule li {
			border-bottom: 0;
            padding: 0;
		}
	}

	@media (min-width: 1024px) {
		.menu-molecule {
			width: 550px;
		}
	}

  .service-item-molecule .data-item-link {
		color: #b40808;
		text-decoration: none;
		display: inline-block;
		padding: 0;
		position: relative;
		margin-bottom: 40px;
	}

	.service-item-molecule h3 {
		font-size: 18px;
		line-height: 22px;
		color: #16688c;
		padding: 0 0 20px;
	}

	.service-item-molecule p {
		color: rgba(0, 0, 0, 0.9);
        margin-bottom: 20px;
	}

	@media (min-width: 1000px) {
		.service-item-molecule .data-item-link {
			padding: 0;
			display: flex;
			justify-content: space-between;
			flex-direction: var(--flexDirection);
			align-content: stretch;
			align-items: stretch;
		}

		.service-item-molecule .data-item-text {
			flex-grow: 1;
			width: calc(100% - 500px);
			display: flex;
			flex-direction: column;
			height: 343px;
			justify-content: center;
		}

		.service-item-molecule .row .data-item-text {
			margin-right: 40px;
		}

		.service-item-molecule .row-reverse .data-item-text {
			margin-left: 40px;
		}
	}

  @media (min-width: 768px) {
		.service-list-item-molecule .data-item-text {
			flex-grow: 1;
		}
	}

  .social-media-item-molecule {
		padding: 10px 0;
		list-style: none;
	}
	.social-media-item-molecule a,
	.social-media-item-molecule .flex {
		color: white;
		display: flex;
		flex-flow: start;
		align-items: center;
		text-decoration: none;
	}
	.social-media-item-molecule .imageContainer {
		width: 24px;
		margin-right: 20px;
	}

  .work-molecule .work-link {
		display: flex;
		justify-content: stretch;
		align-content: stretch;
		margin-bottom: 20px;
	}

	.work-molecule .work-link.even {
		flex-direction: row-reverse;
	}

	.work-molecule .work-text {
		width: calc(100% - 170px);
		margin-right: 20px;
		margin-left: 0;
		height: 150px;
	}

	.work-molecule .work-text.even {
		margin-left: 20px;
		margin-right: 0;
		width: calc(100% - 170px);
	}